:root {
  --mobile-width: 375px;
  --desktop-width: 1440px;

  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);

  font-size: 32px;
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  display: grid;
  place-items: center;
  padding: 0rem 4rem;
  color: var(--dark-blue);
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slider-wrapper {
  max-width: var(--desktop-width);
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
}

.text-side {
  width: 85%;
  padding-top: 2rem;
  display: grid;
  align-content: center;
  background-image: url("images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-position: 25% 32%;
  gap: 1rem;
  /* transform: translateX(30%); */
  z-index: 1;
}

.comment {
  font-weight: 300;
}
.author-details {
  display: grid;
  gap: 0.25rem;
  grid-auto-flow: column;
  justify-content: flex-start;
}

.name {
  font-size: 0.5rem;
  font-weight: 700;
}

.title {
  font-size: 0.5rem;
  color: var(--grayish-blue);
}

.image-side {
  display: grid;
  justify-items: flex-start;
  background-image: url("images/pattern-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 2.5rem;
  z-index: 0;
  transform: translateX(-28%);
}

.img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.author-img {
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  object-fit: cover;
  /* TODO: padding is messing up the radius, needs anotherw wrapper. */
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.slider-btns {
  position: absolute;
  display: grid;
  bottom: 0;
  grid-auto-flow: column;
  left: 15%;

  bottom: 0;
  transform: translateY(50%);
}

.icon-prev,
.icon-next {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  padding: 0.4rem 0.6rem;
  background: white;
  cursor: pointer;
  transition: all 0.3s;
}

.icon-prev {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.icon-next {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.icon-prev:hover,
.icon-next:hover {
  background-color: var(--grayish-blue);
  transform: scale(1.02) translateY(-4px);
}
.icon-prev:active,
.icon-next:active {
  transform: scale(0.98) translateY(2px);
  fill:red;
}
