:root {
  --mobile-width: 375px;
  --desktop-width: 1440px;

  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-grayish-blue);
  display: grid;
  place-items: center;
}

.card {
  min-width: var(--mobile-width);
  margin: 0 10rem;
  border-radius: 1rem;
  background: white;
  max-width: 50rem;
  /* height: 20rem; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.img {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main {
  display: grid;
  padding: 2.5rem 3rem;
  align-content: space-between;
  gap: 1rem;
}
.title {
  font-size: 1.5rem;
  font-weight: 700;
}
.description {
  font-size: 1rem;
  color: var(--desaturated-dark-blue);
}

.footer {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: auto auto 1fr;
  gap: 1rem;
}

.author-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.details {
  display: grid;
}

.author-name {
  font-size: 1rem;
}
.date {
  font-size: 1rem;
  color: var(--grayish-blue);
}

.share-wrapper {
  display: grid;
  justify-content: flex-end;
}

.share-btn {
  background-color: var(--light-grayish-blue);
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  position: relative;
}
.share-btn:active {
  background-color: var(--very-dark-grayish-blue);
}

.share-btn.active {
  background-color: var(--very-dark-grayish-blue);
}

.popup {
  background: var(--very-dark-grayish-blue);
  padding: 1rem 2.8rem;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  border-radius: 0.8rem;
  position: absolute;
  transform: translateY(-5rem);
  transition: all 0.3s;
}

.popup.hide {
  opacity: 0;
  visibility: hidden;
}

.popup.hide::after {
  user-select: none;
}

.popup::after {
  content: "";
  top: 100%;
  left: calc(50% - 1rem);
  position: absolute;
  width: 0;
  height: 0;
  border-right: 1rem solid transparent;
  border-left: 1rem solid transparent;
  border-top: 1rem solid var(--very-dark-grayish-blue);
}

popup > *,
.share-btn {
  user-select: none;
}

.share {
  color: var(--grayish-blue);
  letter-spacing: 0.5rem;
}

@media only screen and (max-width: 900px) {
  .card {
    margin:0rem 6rem;
    grid-template-columns: auto;
    /* grid-auto-flow: row; */
    grid-template-rows: 0.7fr 1fr;
  }

  .img {
    /* height: 100%; */
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0rem;
  }
}
