:root {
  --mobile-width: 375px;
  --desktop-width: 1440px;

  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
}


.wrapper{
  width:100vw;
  height:100vh;
  background-color: var(--light-grayish-blue);
  display:grid;
  place-items: center;
}

.card{
  border-radius: 1rem;
  background:white;
  max-width: var(--desktop-width);
  max-width:50rem;
  height:20rem;
  display:grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;}

.img{
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  height: 100%;
  width:100%;
  object-fit: cover;

}

.main{
  display:grid;
  padding:2rem;
  align-content: space-between;
}
.title{
  font-size:1.5rem;
  font-weight: 700;
}
