:root {
  --mobile-width: 375px;
  --desktop-width: 1440px;
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);

  --grad-color-1: hsl(6, 100%, 80%);
  --grad-color-2: hsl(335, 100%, 65%);
}

* {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: url("./images/bg-desktop.png");
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  background-color: var(--very-dark-blue);
  background-position: bottom;
  background-size: 100% 50%;
}

.menu-wrapper {
  margin: 3rem;
  max-width: var(--desktop-width);
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1.6fr;
}

.left-menu,
.right-menu {
  background: var(--dark-blue);
}

.left-menu {
  padding: 2rem 7rem 2rem 2rem;
  border-radius: 0.5rem 6rem 0.5rem 0.5rem;
  display: grid;
  gap: 2rem;
}

.buttons-wrapper {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

.icon-wrapper {
  padding: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--very-dark-blue);
  display: grid;
  place-items: center;
}

.icon-wrapper img {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: contain;
}

.right-menu {
  border-radius: 0.5rem;
  position: relative;
  height: 80%;
  align-self: flex-end;
  padding: 2rem;
  color: var(--pale-blue);
  gap: 1rem;
  display: grid;
  align-content: center;
}

.storage-text,
.storage-text > * {
  font-size: 0.9rem;
}

.progress-bar-wrapper {
  display: flex;
  flex-direction: column;
}

.progress-bar {
  background-color: var(--very-dark-blue);
  width: 100%;
  height: 1rem;
  border-radius: 1rem;
  display: grid;
  align-items: center;
}

.bar {
  background: linear-gradient(
    to right,
    var(--grad-color-1),
    var(--grad-color-2)
  );
  width: 81.5%;
  height: 75%;
  border-radius: 1rem;
  margin-left: 0.1rem;
  position: relative;
}
.bar-circle {
  position: absolute;
  right: 0.1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: white;
}

.limits {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.limits > * {
  font-size: 0.7rem;
  font-weight: 700;
}

.storage-left-popup {
  position: absolute;
  right: 2rem;
  background-color: white;
  color: var(--very-dark-blue);
  padding: 0.5rem 1.2rem;
  font-size: 0.6rem;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  gap: 0.5rem;
  transform: translateY(-50%);
  border-radius: 0.5rem 0.5rem 0 0.5rem;
  text-transform: uppercase;
}

.storage-left-popup::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(95%);
  border-top: 1rem solid white;
  border-left: 1rem solid transparent;
}
.storage-left-popup .storage-number {
  font-size: 2rem;
  font-weight: 700;
}
